{
  "bracketSpacing": true,
  "printWidth": 160,
  "singleQuote": true,
  "trailingComma": "es5",
  "importOrder": ["^react(.*)$", "^@reduxjs/(.*)$", "^classnames$", "^formik$", "^@mui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "endOfLine": "auto"
}
